AfrianCrisis.csv
BankLoanModelling.csv
credit_test.csv
credit_train.csv
LoanPaymentData.csv
madhante_test.csv
madhante_train.csv
Test_v2.csv
Train_v2.csv
sweet.mp3
AfrianCrisis.py
BankLoanModelling.py
Credit.py
LoanPaymentData.py
madhante_train.py
V2.py
environment.yml